@font-face {
    font-family: 'orbitron';
    src: url(../fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'orbitron';
    --color-primario: rgb(12, 161, 136);
    --color-secundario: rgb(0, 194, 129);
    --color-terceario: rgb(230, 255, 245);
    --color-cuarto: rgb(91, 192, 153);
    --color-complementario: rgb(255, 87, 51);
}

body{
    background-color: var(--color-terceario);
}

i{
    margin: 5px;
}

header {
    background-color: var(--color-primario);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    position: sticky;
    top:0;
    width: 100vw;
}
header button{
    margin: 5px;
    background-color: var(--color-secundario);
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
}
header button:hover{
    background-color: black;
    color: var(--color-complementario);
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
}

.side-2 ul{
    display: flex;
    list-style-type: none;
    white-space: nowrap;
}
input{
    background-color: var(--color-terceario);
}
.side-2 input:required{
    background-color: var(--color-secundario);
}

a {
    color:black;
    text-decoration: none;
}

header a, .info a{
    background-color: var(--color-secundario);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    border: 2px solid black;
    box-shadow: 2px 4px black;
}

header a:hover, .info a:hover{
    background-color: black;
    color: var(--color-complementario);
    box-shadow: none;
    transition: 500ms;
}

.artist a, .producer a{
    background-color: var(--color-terceario);
    border: 0;
    box-shadow: none;
}

.artist a:hover, .producer a:hover{
    color: var(--color-complementario);
    transition: none;
}
.artist ul, .producer u{
    display: block;
}

.grid-container{
    display: grid;
    row-gap: 5px;
}

.grid-item button{
    margin-left: 90%;
}

.contenedor{
    margin: 1% 10%;
    padding: 20px;
    background-color: var(--color-cuarto);
    color: white;
    border-radius: 15px;
}

.info{
    display: flex;
    justify-content: right;
}

.box{
    display: flex;
    margin: 20px;
    gap: 20px;
}

.texto{
    align-items: center;
}

.boton-artista, .boton-productor {
    margin: auto;
    padding: auto;
    background-color: var(--color-cuarto);
    color: white;
    border: 0px;
    box-shadow: none;
}

.boton-artista:hover, .boton-productor:hover {
    margin: auto;
    padding: auto;
    background-color: var(--color-cuarto);
    border: 0px;
    box-shadow: none;
    color: var(--color-complementario);
    font-weight: bold;
}

ul{
    list-style: square;
    margin: 15px 0px;
}

@media (max-width: 600px) {
    .box{
        display: block;
    }
    iframe{
        width: fit-content;
    }
    .side-2 ul{
        display: block;
    }
    .side-2 li{
        margin-bottom: 15px;
        white-space: nowrap;

    }
    .grid-item input{
        width: 100px;
    }
}