@font-face {
    font-family: 'orbitron';
    src: url(../fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'orbitron';
    --color-primario: rgb(12, 161, 136);
    --color-secundario: rgb(0, 194, 129);
    --color-terceario: rgb(230, 255, 245);
    --color-cuarto: rgb(91, 192, 153);
    --color-complementario: rgb(255, 87, 51);
}

body{
    background-color: var(--color-terceario);
}

i{
    margin: 5px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    padding: 12px;
    overflow: hidden;
}

.main-header button{
    background-color: var(--color-secundario);
    color:black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.main-header button:hover{
    background-color: black;
    color: var(--color-complementario);
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}
  
.main-nav.show {
    margin-left: 0;
}
  
.link-item {
    margin-top: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.side-2 ul{
    display: flex;
    list-style-type: none;
    white-space: nowrap;
}
input{
    background-color: var(--color-terceario);
}
.side-2 input:required{
    background-color: var(--color-secundario);
}

.button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
}

.button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
}
  
.button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
}
  
.button-menu.close span:nth-child(3) {
    display: none;
}

a {
    color:black;
    text-decoration: none;
}

header a, .info a{
    background-color: var(--color-secundario);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    border: 2px solid black;
    box-shadow: 2px 4px black;
}

header a:hover, .info a:hover{
    background-color: black;
    color: var(--color-complementario);
    box-shadow: none;
    transition: 500ms;
}

.artist a, .producer a{
    background-color: var(--color-terceario);
    border: 0;
    box-shadow: none;
}

.artist a:hover, .producer a:hover{
    color: var(--color-complementario);
    transition: none;
}
.artist ul, .producer u{
    display: block;
}

.grid-container{
    display: grid;
    row-gap: 5px;
}

.grid-item button{
    margin-left: 90%;
}

.contenedor{
    margin: 1% 10%;
    padding: 20px;
    background-color: var(--color-cuarto);
    color: white;
    border-radius: 15px;
}

.info{
    display: flex;
    justify-content: right;
}

.box{
    display: flex;
    margin: 20px;
    gap: 20px;
}

.texto{
    align-items: center;
}

.boton-artista, .boton-productor {
    margin: auto;
    padding: auto;
    background-color: var(--color-cuarto);
    color: white;
    border: 0px;
    box-shadow: none;
}

.boton-artista:hover, .boton-productor:hover {
    margin: auto;
    padding: auto;
    background-color: var(--color-cuarto);
    border: 0px;
    box-shadow: none;
    color: var(--color-complementario);
    font-weight: bold;
}

ul{
    list-style: square;
    margin: 15px 0px;
}

@media (max-width: 768px) {
    .box{
        display: block;
    }
    iframe{
        width: fit-content;
    }
    .side-2 ul{
        display: block;
    }
    .side-2 li{
        margin-bottom: 15px;
        white-space: nowrap;

    }
    .grid-item input{
        width: 100px;
    }
}


@media screen and (min-width: 768px) {
    .button-menu {
      display: none;
    }
  
    .main-nav {
      position: sticky;
      margin-left: 0;
      flex-basis: 70%;
      height: 100%;
      background-color: var(--color-primario);
    }
  
    .link-item {
      margin-top: 0;
      margin-right: 2rem;
    }
}