*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(145, 245, 207);
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(12, 161, 136);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}


a{
    background-color: rgb(0, 194, 129);
    color:black;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    border: 2px solid black;
    box-shadow: 2px 4px black;
}

a:hover{
    background-color: black;
    color: rgb(0, 194, 129);
    text-decoration: none;
    border: 2px solid black;
    box-shadow: none;
    cursor: pointer;
    transition: 500ms;
}

.grid-container{
    display: grid;
    row-gap: 5px;
}

.grid-item button{
    margin-left: 90%;
}

.contenedor{
    margin: 1% 10%;
    padding: 20px;
    background-color: rgb(91, 192, 153);
    color: white;
    border-radius: 15px;
}

.info{
    display: flex;
    justify-content: right;
}

.box{
    display: flex;
    margin: 20px;
    gap: 20px;
}

.texto{
    align-items: center;
}

.boton-artista {
    margin: auto;
    padding: auto;
    background-color: rgb(91, 192, 153);
    color: white;
    border: 0px;
    box-shadow: none;
}

.boton-artista:hover {
    margin: auto;
    padding: auto;
    background-color: rgb(91, 192, 153);
    border: 0px;
    box-shadow: none;
    color: black;
    font-weight: bold;
}

.boton-productor {
    margin: auto;
    padding: auto;
    background-color: rgb(91, 192, 153);
    color: white;
    border: 0px;
    box-shadow: none;
}

.boton-productor:hover {
    margin: auto;
    padding: auto;
    background-color: rgb(91, 192, 153);
    border: 0px;
    box-shadow: none;
    color: black;
    font-weight: bold;
}

ul{
    list-style: square;
    margin: 15px;
}

table{
    width: 50%;
    margin: auto;
    border: 3px solid black;
    border-collapse: collapse;
    background-color: greenyellow;
}



th, td{
    border: 1px solid black;

}

caption{
    caption-side: top;
}

tr:nth-child(odd){
    background-color: darkorchid;
    
}